* {
  justify-content: center;
  scroll-padding-top: 70px;
}

/* .App {
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
} */

.navbar-brand {
  color: black !important;
}

.navbar-brand:hover {
  color: blue !important;
}

.nav-link {
  color: black !important;
}

.nav-link:hover {
  color: blue !important;
}

.techList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.techList > div {
  background-color: lightblue;
  min-height: 50px;
  border-radius: 3px;

  display: flex;
  text-align: center;
  align-items: center;
}

.intro {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.background {
  background-color: #d8e1e8;
}

.test {
  background-color: #9bbee8;
}

.cardImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardImage {
  max-width: 300px;
  width: 100%;
  /* height: fit-content; */
}

/* contact icon */
.icon {
  color: black;
}

.icon:hover {
  color: blue;
}

/* email circular btn */
.fab {
  width: 3em;
  height: 3em;
  border-radius: 1.5em;
  text-align: center;
  color: white;
  background-color: black;
  border: black;
}

.fab:hover {
  background-color: blue;
  border: blue;
}

.copyIcon {
  display: none;
}

.toast {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  animation-duration: 100ms;
  z-index: 1;
  background-color: black;
  color: white;
}

.spinner {
  position: fixed;
  left: 50%;
  bottom: 50%;
  margin-left: -1em;
  display: block;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .fab:hover .emailIcon {
    display: none;
  }

  .fab:hover .copyIcon {
    display: block;
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
